h1{
    text-align: center;
}
input{
    margin-right:20px;
    font-size:30px;
}

input[type="datetime-local"]{
    margin-right:20px;
    font-size:30px;
}

input[type="submit"]{
    font-size:30px;
}

select{
    margin-right:20px;
    font-size:30px;
}

body{
    font-size:30px;
}

.ef_car{
    height: 65px;

}

footer{
    color: rgb(144, 4, 209);
    margin-top: 700px;
}

.container{
    width: 80%;
    background-color:bisque;
    padding: 30px;
    margin: 0 auto;
}

#send{
    background-color: hsl(240, 73%, 39%);
    border: 0px;
    width: 428px;
}
td{
    padding: 5px;
}
#date-time{
    width: 375px;
    display: inline-block;
    padding-bottom: 14px;
}
#date-time{
    height: 50px;
}

#add_fish{
    margin-right: 5px;
}